.header {
    display: flex;
    justify-content: center;
    padding: 92px 24px 96px 24px;
}

.logo {
    width: 129.11px;
    height: 104.65px;
    margin-right: 194px;
}   

.header__menu{
    display: flex;
    gap: 13px;
    margin: 0 36px 0 0;
    align-items: center;
    font-family: 'Raleway' sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
}

.header__links-list{
    color: black ;
}

.list_marker{
    width: 7px;
    height: 7px;
}

.addres_container  {
    width: 230px;
    font-family: 'Raleway' sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0%;
    text-decoration: none;
    
}

.addres {
    color: black;
    
}

.box {
    height: auto;
    margin: auto;
    background-image: url(../images/cover.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    display: flex;
    flex-direction: column;
    gap: 135px;
    height: 100%;
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
}

.cover-title {

    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    padding: 165px 50px 0 50px;

    display: flex;
}

.accent-span {
    display: flex;
    letter-spacing: 1px;
    text-transform: uppercase;
    flex-direction: column
}

.text-center {
    display: flex;
    align-items: center;
}

.text-right {
    display: flex;
    flex-direction: row-reverse
}

.box_footer {
    display: flex !important;
    flex-direction: row;
    padding:  0 0 60px 0;
    display: inline-block;
    justify-content: space-around;
    align-items: baseline;
    color: white;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}

.span_text {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
}

.button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    padding: 12px 32px 11px 31px;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}

.how-to {
    padding: 179px 24px 146px 0px;
}

.how-to_title {
    margin-left: 40px;
    text-transform: uppercase;
    font-family: 'Raleway' sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0%;
}

.card-position {
    display: flex;
    margin-top: 27px;
    margin-left: 24px;
    gap: 25px;
}

.card-one {
    background-image: url(../images/card-lot-01.jpg);
}

.card-two {
    background-image: url(../images/card-lot-02.jpg);
}

.card-thri {
    background-image: url(../images/card-lot-03.jpg);
}

.card {
    position: relative;
    height: 563px;
    width: 334px;
    background-size: cover;
    background-position: center;
}

.card-info{
    display: flex;
    flex-direction: column;
    padding: 51px 40px 48px 40px;
}

.card-style1{
    margin-top: 238px;
}

.card-style2{
    margin-top: 0px;
}

.card-style3{
    margin-top: 90px;
}

.card-title {
    color: white;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    text-transform: uppercase
}

.card-text{
    color: white;
    font-family: 'Raleway' sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}

.how-to-footer {
    display: flex;
    padding-top: 30px ;
    padding-left: 40px;
}

.how-to-footer-text{
    font-family: 'Raleway' sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}

.about{
    display: flex;
    padding: 0px 24px 180px 24px;
}

.about_border_image{
    margin-top: 35px;
    margin-left: 47px;
    width: 240px;
    height: 240px;
    border: 1px solid black;
    background-color: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.about_image{
    display: flex;
    width: 136px;
    height: 102px;
    margin: auto;
}

.about_text{
    display: flex;
    flex-direction: column;
    width: 693px;
    height: 449px;
    margin-top: 136px;
    margin-left: 72px;
    margin-right: 29px;
}

.about_title{
    font-family: 'Raleway'sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0%;
}

.about_tex_one {
    margin-top: 100px;
    font-family: 'Raleway'sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.about_tex_two{
    margin-top: 24px;
    font-family: 'Raleway'sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px 88px 50px;
}

.footer_nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    list-style: none;
    font-family: 'Raleway's;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.text-decoration{
    text-decoration: underline;
}

.footer_cocial{
    display: flex;
    width: 240px;
    height: 48px;
    gap: 48px;
}

.img_footer {
    width: 48px;
    height: 48px;
}