.header {
    display: grid;
    /* justify-content: center; */
    padding: 92px 24px 96px 24px;
    grid-template-columns: 1fr min-content 1fr;
}

.logo {
    display: flex;
    width: 140px;
    height: 105px;
}   

.header__menu {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 44px 39px 39px 26px;
}

.header__links-list {
    display: flex;
    color: black ;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 10%;
    gap: 32px;
    list-style-type: circle;
}

.list-item {
    text-decoration: underline;
}
.nobullet {
    list-style-type: none;
    text-decoration: none;
}

.address_container {
    display: flex;
    justify-self: end;
    flex-direction: column;
    font-size: 19px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0%;
    text-decoration: none;
    margin-top: 4px;
    margin-right: 55px;
}

.address {
    color: black;
}

.box {
    width: 1100px;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.cover-title {
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    padding: 87px 10px 67px 25px;
    display: flex;
    flex-direction: column;
    gap: 23px;

}

.accent-span {
    position: relative;
    z-index: 2;

}

.text-left {
 letter-spacing: 0.3em;
}

.text-center {
    text-align: center;
    letter-spacing: 0.3em;

}

.text-right {
    display: flex;
    justify-content: end;
    letter-spacing: 0.6em;

}

.letter-spacing-extended {
    letter-spacing: 0.6em;

}

.letter-spacing-extended-center {
    letter-spacing: 0.7em;
    
}

.letter-spacing-extended_right {
letter-spacing: 0.3em;
}

.cover__description {
    display: flex !important;
    flex-direction: row;
    padding:  0 0 60px 0;
    /* display: inline-block; */
    justify-content: space-around;
    align-items: baseline;
    color: white;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    padding-left: 40px;
    padding-right: 12px;
}

.cover__description-text {
    font-size: 22px;
    font-weight: 100;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.bet-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    background-color: transparent;
    cursor: pointer;
    padding: 12px 32px 11px 31px;
    font-size: 21px;
    font-weight: 500;
    line-height: 26px;
    box-sizing: border-box;
    border: 1px solid currentColor;
    color: white;
    width: 256px;
    height: 51px;
    text-align: center;
    text-transform: uppercase;
}

.lots {
    padding: 170px 24px 146px 0px;
}

.lots__heading {
    margin-left: 65px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0%;
}

.lots__card-list-item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 27px;
    margin-left: 24px;
    gap: 25px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card {
    position: relative;
    min-height: 563px;
    width: 334px;
    background-size: cover;
    background-position: center;
}

.card-info {
    display: flex;
    flex-direction: column;
    padding: 51px 40px 48px 40px;
    position: relative;
    z-index: 3;
}

.card_style_film {
    margin-top: 238px;
}

.card_style_book {
    margin-top: 0px;
}

.card_style_picture {
    margin-top: 95px;
}

.card__title {
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
}
.card__text {
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-decoration: none;
}

a:link {
    color: rgb(4, 4, 4);
    background-color: transparent;
    text-decoration: none;
}

.how-to-footer {
    display: flex;
    padding-top: 30px ;
    padding-left: 65px;
}

.lots__look-more-link {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: lowercase;
    text-decoration: underline;
    cursor: pointer;
}

.about {
    display: flex;
    padding: 0px 24px 175px 24px;
}

.about_border_image {
    margin-top: 35px;
    margin-left: 47px;
    width: 250px;
    height: 240px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.about_image {
    display: flex;
    width: 150px;
    height: 120px;
    margin: auto;
}

.about_text {
    display: flex;
    flex-direction: column;
    width: 693px;
    gap: 25px;
    margin-top: 136px;
    margin-left: 72px;
    margin-right: 29px;
}

.about_title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 1%;
}

.about_text--info {
    padding: 75px 0 0 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.about_text--info:last-child {
    padding: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px 88px 50px;
}

.addres_container_foter {
    width: 240px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0%;
    text-decoration: none;
}
.footer_nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align:center;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-transform: lowercase;
}

.text-decoration {
    text-decoration: underline;
}

.footer_cocial {
    display: flex;
    gap: 48px;
}

.img_footer {
    width: 48px;
    height: 48px;
}