.header {
    display: flex;
    padding: 92px 24px 96px;
    justify-content: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.logo {
    width: 148px;
    height: 105px;
    margin-right: 194px;
}   

.header__menu{
    display: flex;
    gap: 12px;
    margin: 0 36px 0 0;
    align-items: center;
}

.header__links-list{
    color: black ;
}

.list_marker{
    width: 7px;
    height: 7px;
}

.addres_container  {
    width: 240px;
}

.addres {
    color: black;
}

.overlay {
    height: 757px;
    margin: auto;
    /* background: black;
    opacity: 0.6; */
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cover-title {
    padding: 165px 50px 237px 50px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
}

.accent-span {
    display: flex;
    margin-left: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-right {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.overlay-footer {
    display: flex;
}

.span-footer {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: white;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}

.button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    padding: 12px 32px 11px 31px;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}